<div class="px-20 mt-5">
  <h1 class="text-gray-800 text-3xl font-semibold text">Education</h1>
  <hr class="h-0.5 my-6 bg-gray-200" />
  <app-card image="assets/pwr-logo.png" title="Wroclaw University of Science and Technology"
    description="Master of Engineering, Applied Computer Science - 2020 - 2021"></app-card>
  <app-card image="assets/pwr-logo.png" title="Wroclaw University of Science and Technology"
    description="Bachelor of Engineering, Computer Science - 2016 - 2020"></app-card>
</div>
