<div class="px-20 mt-5">
  <h1 class="text-gray-800 text-3xl font-semibold text">Projects</h1>
  <hr class="h-0.5 my-6 bg-gray-200" />

  <app-project-card image="assets/file-peer.png" title="file peer"
    source="https://github.com/JaroslawPokropinski/file-peer"
    description="Peer to peer file sharing using WebRTC and peerJS in node and react. It allows to create rooms for fast file sharing.">
  </app-project-card>

  <app-project-card image="assets/file-sharing-cover.png" title="file sharing"
    source="https://github.com/JaroslawPokropinski/file-sharing-p2p" applink="https://fastfileshare.netlify.app/"
    description="Next iteration of file-peer. It was made using react. The purpose of this app is to provide an easy way to send files from pc to smarphone but it can be used to send files between other devices as well. It delivers very fast speeds as it uses webtorrent to transfer the files which allows to create direct connections over the local network.">
  </app-project-card>

  <app-project-card image="assets/screensharing.png" source="https://github.com/JaroslawPokropinski/screen-sharing-web"
    title="screensharing"
    description="Screensharing is an app that can be used to share screen using the browser. Video is shared between clients using peerjs.">
  </app-project-card>

  <app-project-card image="assets/nuxt-screenshare.png" title="nuxt screenshare"
    source="https://github.com/JaroslawPokropinski/nuxt-screenshare"
    applink="https://jaroslawpokropinski.github.io/nuxt-screenshare/"
    description="Nuxt screenshare is reimplementation of screensharing in vue and nuxt.">
  </app-project-card>

  <app-project-card image="assets/twwo.png" title="psi-twwo"
    source="https://github.com/nokia-wroclaw/innovativeproject-hikingmaps"
    description="This application is a university project. Its purpose is to manage the subject cards for university. It was made in team of 3. It is implemented in java spring boot and react. It was developed with help of technonolgies such as jenkins and kubernetes. ">
  </app-project-card>

  <app-project-card image="assets/hikingmaps.png" title="innovativeproject-hikingmaps"
    source="https://github.com/nokia-wroclaw/innovativeproject-hikingmaps"
    description="This application is an university project made in team of 4. Its purpose is to gather people for hiking trips. It is supposed to make finding groups easier than finding them on social sites. It was developed as part of Innovative Projects with nokia Wrocław.">
  </app-project-card>
</div>
