/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.text {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-display: block;
  font-family: "Montserrat";
  src: url("assets/Montserrat-Regular.ttf");
}
